* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --gray: #6c757d;
  --primary: #007bff;
  --indigo: #6610f2;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Playfair Display", "Georgia", serif;
}
body,
p,
li,
span {
  font-family: "Poppins", "Helvetica Neue", sans-serif;
}

nav,
button,
a {
  font-family: "Montserrat", "Arial", sans-serif;
}
.cv-builder-container {
  width: 700px;
  margin: 2rem auto;
  padding: 2rem;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 8px;
  text-align: center;
}

.cv-builder-container h1 {
  font-size: 2rem;
  color: #2b37b2;
  margin-bottom: 1rem;
}

.cv-builder-container p {
  font-size: 1rem;
  color: #666666;
  margin-bottom: 2rem;
}

.cv-form section {
  margin-bottom: 1.5rem;
  text-align: left;
}

.cv-form h2 {
  font-size: 1.5rem;
  color: #2b37b2;
  margin-bottom: 1rem;
}

.cv-form h3 {
  font-size: 1.2rem;
  color: black;
  margin-bottom: 1rem;
}

.cv-form label {
  font-weight: bold;
  display: block;
  margin-bottom: 0.5rem;
  color: #2b37b2;
}

.cv-form input,
.cv-form textarea {
  width: 100%;
  padding: 0.8rem;
  margin-bottom: 1rem;
  border: 1px solid #cccccc;
  border-radius: 5px;
  font-size: 1rem;
}

.cv-form input:focus,
.cv-form textarea:focus {
  outline: none;
  border-color: #ffc107;
}

.submit-btn {
  background-color: #2b37b2;
  color: #ffffff;
  padding: 0.8rem 2rem;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit-btn:hover {
  background-color: #555555;
}
